// Color

$white: #ffffff;
$black: #000000;
$bright-blue: #2a6cea;
$header-bcg-color: rgba(42,108,234,0.8);
$gray: #83898f;
$light-gray: #eceff2;
$mostly-black: #191c1f;
$dark-gray: #5e646a;
$mid-gray: #c2c8cd;
$extralight-gray: #f6f8fa;

// Radius

$btn-radius: 4px;

// Viewports

$min-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

//fonts

$graphik-lcg: "Graphik LCG", "Arial", sans-serif;

//transition

$trans--300:  0.3s ease-in-out;

//retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
